<div class="about-container">
    <h2>À propos</h2>
    <div class="about-content">
      <img src="assets/images/mon_image.jpg" alt="Photo professionnelle" class="profile-photo" />
      <div class="bio">
        <p>
          Je m'appelle <strong>Abdellah Aazdag</strong>, étudiant en cycle ingénieur 
          <em>Ingénierie des Technologies de l’Information et Réseaux de Communication</em> (ITIRC) à l’ENSAO.
          J’ai eu l’opportunité de collaborer sur différents projets et j’apprécie
          particulièrement la résolution de problèmes complexes en équipe.
        </p>
        <p>
          Mes missions passées incluent un rôle d’enquêteur principal pour le
          Haut-Commissariat au Plan (collecte de données, reconnaissance de terrains)
          et l’organisation de la 1ère édition de la Journée Club ITIRC (planification,
          coordination, gestion logistique).
        </p>
      </div>
    </div>
  
    <div class="contact-details">
      <h3>Coordonnées</h3>
      <p>Adresse : Hay ait Oujana, 45800, Tinghir</p>
      <p>Téléphone : 07-03-99-00-50</p>
      <p>Email : <a href="mailto:abdellah.aazdag@gmail.com">abdellah.aazdag&#64;gmail.com</a></p>
      <p>GitHub : <a href="https://github.com/aazdagabde" target="_blank">aazdagabde</a></p>
      <p>LinkedIn : <a href="https://www.linkedin.com/in/aazdag-abdellah" target="_blank">aazdag-abdellah</a></p>
    </div>
  
    <h3>Valeurs & Motivations</h3>
    <p>
      Je crois en l’innovation continue, la collaboration et la volonté d’apprendre
      en permanence. Mon objectif est de contribuer à des projets à forte valeur 
      ajoutée et de faire partie d'équipes dynamiques et créatives.
    </p>
  </div>
  