/* styles.css */

body {
    margin: 0;
    background-color: #222;
    font-family: 'Fira Code', monospace; /* Police style "dev" */
    color: #ccc;
  }
  
  /* Titres généraux */
  h1, h2, h3 {
    font-weight: normal;
    margin: 0.5rem 0;
  }
  
  /* Style de la barre de défilement (optionnel) */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444;
  }
  