<div class="home-container">
    <section class="banner">
      <div class="text-animate">
        <!-- Typed.js container -->
        <span #typedElement class="typed-text"></span>
      </div>
      <img src="assets/images/mon_image.jpg" alt="Abdellah Aazdag" class="banner-image" />
      <p class="intro">
        Actuellement en 2e année du cycle ingénieur ITIRC (ENSAO),
        je recherche des opportunités pour mettre en pratique mes
        compétences Full Stack et participer à des projets innovants.
      </p>
      <button routerLink="/about" class="cta-button">En savoir plus</button>
    </section>
  </div>
  